name: Terraform Validation & Security

on:
  pull_request:
    branches:
      - main

jobs:
  terraform:
    name: Validate Terraform
    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: platforms/aws/dev

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.6.0

      - name: Terraform Init
        run: terraform init -backend=false

      - name: Terraform Format Check
        run: terraform fmt -check -recursive

      - name: Terraform Validate
        run: terraform validate

      - name: Run tfsec
        uses: aquasecurity/tfsec-action@v1.0.3
        with:
          working_directory: .

      - name: Run Checkov
        uses: bridgecrewio/checkov-action@v12
        with:
          directory: .
